@import 'components/callout';


// Articles
// ========

article {
	margin: auto;
	max-width: 70rem;
    padding: 10px 10%;
}


// Tables
// ======

table {
    @extend .callout;
    border-collapse: separate;
}
