@import 'components/callout';


// Articles
// ========

article {
	// Horizontal Centering
	margin: auto;

	// Keep page content from getting too wide.
	max-width: 70rem;

    padding: 10px 3%;
}


// Tables
// ======

table {
    @extend .callout;
    border-collapse: separate;
}
